package layout

// Main returns the main page layout.
templ Main(title string, view templ.Component) {
	<html lang="en" class="h-full">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - Keeper</title>
			<link href="/asset/styles.css" rel="stylesheet"/>
		</head>
		<body class="h-full bg-gray-50 dark:bg-gray-900 antialiased">
			<main class="h-full">
				@view
			</main>
		</body>
	</html>
}
